@import "../Mixin.scss";

.stars {
    @include display;
    padding: 5px;
    @media (max-width: 700px) {
        padding: 0;
        margin-top: 12px;
    }
}

.empty-star {
    margin-right: 7px;
    @media (max-width: 700px) {
        padding-left: 5px;
    }
}