@import "../components/Mixin.scss";

.about-page {
    margin: 50px;
    &__elements {
       display:flex;
       flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 100%;
        object-fit: cover;
        height: 223px;
        border-radius: 25px;
        margin-bottom: 23px;
    }
}
