.DropdownClose {
    background-color: rosybrown;
    display: block;
    border: none;
}

.DropdownOpen {
    background-color: rosybrown;
    display: block;
    border: none;
}

.openIt {
    background-color: aqua;
    color: white;
}




