@import "../Mixin.scss";

.collapse{
    display: flex;
    flex-direction: column;
    align-content: center;
    @media (max-width: 700px) {
        width: 100%;
    }
    &__title {
        @include space;
        background-color: $mainColor;
        align-items: center;
        border-radius: 10px;
        @media (max-width: 700px) {
            border-radius: 5px;
        }
    }
    &__title h1 {
        @include font;
        font-size: 24px;
        color: white;
        padding-left: 10px;
        @media (max-width: 700px) {
            font-size: 13px;
        }
    }
    &__button {
        background-color: $mainColor;
        border: none;
    }
    &__button:hover {
        cursor: pointer;
    }
    &__p {
        position: relative;
        color: $mainColor;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 18px;
        background-color: #F6F6F6;
        text-align: justify;
        margin-top: 0;
        padding: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        @media (max-width: 700px) {
            font-size: 12px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }    
    &__p li {
        list-style: none;
    }
}
  
.rotate {
    transition: 0.4s ease-in-out;
    transform: rotate(180deg); 
}
.arrow {
    transform: rotate(0deg);
	transition: 0.4s ease-in-out;
}

.slide-in {
    animation: slideIn 0.4s ease-in-out;
}

@keyframes slideIn {
    0% {z-index: -1; 
        transform: translateY(-100px);
        opacity: 0;}
    50%{z-index: -1; 
        transform: translateY(-20px);
        opacity: 0.6;}
    100% {z-index: 0;
        opacity: 1; 
        transform: translateY(0);}
}
